/* Write your CSS here */
.app-item-container {
  width: 150px;
  background: #ffffff;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 20px;
  height: 200px;
}

.app-item-image {
  width: 90%;
  border: 1px solid transparent;
  border-radius: 15px;
}

.app-item-details-container {
  padding: 10px;
}

.app-item-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;

  color: #183b56;

  text-align: center;
}
